{% extends '/Layouts/header_and_menu.html.twig' %}

{% block title %}{{ parent() }} : form{% endblock %}

{% block main_title %}Vue "produit_edit"{% endblock %}

{% block corps %}
    <h2>Édition d'un produit</h2>
    {{ form(myform) }}

    <h2>dump</h2>
    {{ dump(myform) }}
{% endblock %}
