{# pied de page commun pour les pages du TwigController #}
<footer>
	<p>
	Armors provided on this website are medieval armors for medieval fight only, if your duck goes against a truck we don't guarantee his survival. <br />Thanks for your understanding.
	</p>
</footer>