{% extends '/Layouts/header_and_menu.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block main_title %}Titre principal de la vue 4{% endblock %}
{% block corps %}
    <p>
        Le paragraphe du template <code>vue2.html.twig</code>
    </p>
{% endblock %}

{% block barre_laterale %}

<p>truc<br />bidule</p>

{% endblock %}
