{% extends '/Layouts/header_and_menu.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block main_title %}Titre principal de la vue 4{% endblock %}
{% block corps %}
    <p>
        Le paragraphe du template <code>vue2.html.twig</code>
    </p>
{% endblock %}

{% block barre_laterale %}

    <a class="button" role="button" href="{{ path('overview_magasin_gestion') }}" class="btn btn-primary btn-sm">  &nbsp;Duck's armor shop </a>
    <a class="button" role="button" href="{{ path('form_nouveaucompte') }}" class="btn btn-primary btn-sm">  &nbsp;New Duck's account </a>
{% endblock %}
